<div ng-controller="eventsCtrl">
<div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=208819062661168&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
	<!-- SUB-HEADER area -->
        <div class="pm-sub-header-container pm-parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0">



        </div>

        <!-- SUB-HEADER area end -->

        <!-- BODY CONTENT starts here -->

        <div class="container pm-containerPadding80">
            <div class="row">

                <!-- Blog post area -->
                <div class="col-lg-9 col-md-8 col-sm-12">

                    <div class="row" >

                        <!-- News post -->
                        <div class="col-lg-6 col-md-6 col-sm-12 pm-column-spacing" ng-repeat="event in allEvents">

                            <div class="pm-news-post-container">

                                <div class="pm-news-post-image" >
                                <img src="{{event.coverUrl}}" alt="">
                                    <div class="pm-news-post-title">
                                        <p><a href="#/event/{{event.id}}">       {{event.tv_program}} @{{event.spot}}</a></p>
                                    </div>
                                </div>
                                <div class="pm-news-post-meta-container">
                                    <div  
                                    class="pm-news-post-date">
                                        <p class="day">{{event.eventday}}</p>
                                        <p class="month-year">
                                        {{event.eventMonth}}
                                            <br />{{event.eventYear}}</p>
                                    </div>
                                </div>

                                <div class="pm-news-post-desc-container">
                                    <div class="col-lg-5 col-md-5 col-sm-5">
                                        <ul class="pm-meta-options-list">
                                            <li><a href="#"></a><i class="fa fa-user"> &nbsp; <a href="#"></i>Host Name</a>
                                            </li>
                                            <li><a href="#"></a><i class="fa fa-thumbs-up"> &nbsp; <a href="#"></i>Like</a>
                                            </li>
                                            <li><a href="#"></a><i class="fa fa-paper-plane"> &nbsp; <a href="#"></i>Share</a>
                                            </li>
                                            <li><a href="#"></a><i class="fa fa-ticket"> &nbsp; <a href="javascript: void(0)"
                                                id="joinEvent"></i>Join</a>
                                            </li>


                                            <li>&nbsp;</li>

                                        </ul>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7">
                                        <ul class="pm-meta-options-list">
                                            <li><i class="fa fa-calendar"></i> &nbsp;{{event.starttime}}</li>
                                            <li><i class="fa fa-clock-o"></i> &nbsp;{{event.duration}}</li>
                                            <li><i class="fa fa-users"></i>&nbsp;
                                            <a href="" title="">{{friends[0].name}}</a> and 
                                            {{friends.length}}others will be there</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                    
                                </div>

                            </div>

                        </div>
                        <!-- News post end -->

                        



                    </div>
                    <!-- /.row -->

                    <!-- Post pagination system -->
                    <div class="pm-pagination-page-counter">
                        <p>Page 1 of 3</p>
                    </div>
                    <ul class="pm-pagination clearfix reset-pulse-sizing">
                        <li class="current"><span class="current">1</span>
                        </li>
                        <li class="inactive"><a href="#" class="inactive">2</a>
                        </li>
                        <li class="inactive"><a href="#" class="inactive">3</a>
                        </li>
                        <li class="inactive"><a href="#" class="inactive">&raquo;</a>
                        </li>
                    </ul>
                    <!-- Post pagination system end -->

                </div>
                <!-- Blog post area end -->


                <!-- Sidebar area -->
                <aside>
                    <div class="col-lg-3 col-md-4 col-sm-12 pm-sidebar">

                        <!-- General Text widget -->
                        <div class="pm-widget">

                            <h6>what's a yopevent?</h6>

                            <p>Each yopevent is an invitation to have some TV fun time.</p>
                            <p>Join a great one and share to invite more friends</p>
                        </div>
                        <!-- General Text widget end -->

                    </div>
                </aside>
                <!-- Sidebar area end -->

            </div>
        </div>

        

        <!-- BODY CONTENT end -->

</div>